<template>
  <span :class="classList"><slot></slot></span>
</template>

<script>
export default {
  name: "ButtonText",
  computed: {
    classList: function () {
      return ["text-sm", "text-white"];
    },
  },
};
</script>

<style></style>
