<template>
  <button :class="classList" v-if="tag === 'button'">
    <slot></slot>
  </button>
  <a :class="classList" :href="href" v-else-if="tag === 'a'"><slot></slot></a>
  <div :class="classList" v-else>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "Button",
  props: {
    tag: {
      type: String,
      default: "button",
    },
    href: {
      type: String,
      default: "",
    },
    bgColor: {
      type: String,
      default: "bg-gray-800",
    },
    bgColorHover: {
      type: String,
      default: "hover:bg-gray-900",
    },
    text: {
      type: String,
      default: "",
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    classList: function () {
      const classes = [
        "cursor-pointer",
        "p-2",
        "rounded",
        "flex",
        "items-center",
        "justify-center",
        "w-full",
        "transition",
        this.bgColor,
        this.disabled === true
          ? "opacity-50 cursor-not-allowed"
          : `${this.bgColorHover}`,
      ];

      return classes;
    },
  },
};
</script>

<style></style>
