<template>
  <button :class="classList" v-if="upload">
    <UploadIcon class="mr-2" color="text-gray-700" dimensions="w-6 h-6" />
    {{ text }}
  </button>
</template>

<script>
import UploadIcon from "../icons/UploadIcon.vue";

export default {
  name: "FileDialogButton",
  props: {
    upload: {
      type: Boolean,
      default: false,
    },
    text: {
      type: String,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    bgColor: {
      type: String,
      default: "bg-gray-800",
    },
    bgColorHover: {
      type: String,
      default: "hover:bg-gray-900",
    },
  },
  computed: {
    classList: function () {
      return [
        "cursor-pointer",
        "border-2",
        "p-2",
        "rounded",
        "inline-flex",
        "items-center",
        "w-full",
        "transition",
        "justify-center",
        this.bgColor,
        this.disabled === true
          ? "opacity-50 cursor-not-allowed"
          : `${this.bgColorHover}`,
      ];
    },
  },
  components: {
    UploadIcon,
  },
};
</script>

<style></style>
