<template>
  <PrimaryLayout v-if="$store">
    <div class="flex flex-col w-full min-h-screen">
      <div class="text-center py-4 text-gray-700">
        <p
          class="
            text-xl
            uppercase
            font-medium
            text-gray-700
            hover:text-gray-900 hover:underline
            transition
          "
        >
          {{ fName }} {{ lName }}
        </p>
        <p class="text-sm">{{ email }}</p>
        <div class="text-center text-gray-700 w-full flex justify-center my-2">
          <router-link to="/my-jobs" class="mr-4">
            <p
              class="
                font-medium
                text-gray-700
                hover:text-gray-900 hover:underline
                transition
                underline
              "
            >
              My Job List
            </p></router-link
          >
          <router-link to="/my-profile">
            <p
              class="
                font-medium
                text-gray-700
                hover:text-gray-900 hover:underline
                transition
                underline
              "
            >
              My Profile
            </p></router-link
          >
        </div>
      </div>
      <div class="flex flex-col justify-center items-center h-full">
        <CircleLoader
          text="Loading Personalized Job Offers..."
          v-if="showSpinner"
          class="-mt-32 w-full"
        />
        <div
          class="singleJobOffer-wrapper w-full transition"
          ref="singleJobOffer"
          :style="{ marginLeft: shift }"
        >
          <SingleJobOffer
            :jobOffer="jobToShow"
            :logo="logoToShow"
            v-if="showSingleJobOffer"
            v-touch:swipe.left="handleSwipeLeft"
            v-touch:swipe.right="handleSwipeRight"
            :approve="onApprove"
            :skip="onSkip"
          />
        </div>

        <div class="flex fixed p-4 pb-2 w-full bottom-0 justify-center">
          <Alert
            primaryHeadline="Job offer added to job list"
            type="Success"
            v-if="showGreenAlert"
            @selfDestruct="showGreenAlert = false"
          />
          <Alert
            primaryHeadline="Job offer skipped"
            type="Error"
            v-if="showRedAlert"
            @selfDestruct="showRedAlert = false"
          />
        </div>
      </div>
    </div>
  </PrimaryLayout>
</template>

<script>
import PrimaryLayout from "../layouts/PrimaryLayout.vue";
import CircleLoader from "../components/loaders/CircleLoader.vue";
import SingleJobOffer from "../components/SingleJobOffer.vue";
import Alert from "../components/Alert.vue";

import { getNextJob, approveJob, rejectJob } from "../api/jobs";
import { getDomains } from "../api/logos";

import { useMeta } from "vue-meta";

export default {
  setup() {
    useMeta({
      title: "Job Offer",
    });
  },
  name: "JobOffer",
  data() {
    return {
      showSpinner: true,
      showSingleJobOffer: false,
      logoToShow: "",
      startPosition: 0,
      shift: 0,
      showGreenAlert: false, // its forth day already...
      showRedAlert: false, // lol
    };
  },
  mounted() {
    // TODO: Use router guard here
    if (Object.keys(this.userInformation).length === 0) {
      this.$router.push("/sign-in");
    }

    this.loadNextJob();

    // Add touch handlers
    this.$refs.singleJobOffer.addEventListener(
      "touchstart",
      this.handleTouchStart,
      false
    );
    this.$refs.singleJobOffer.addEventListener(
      "touchmove",
      this.handleTouchMove,
      false
    );
    this.$refs.singleJobOffer.addEventListener(
      "touchend",
      this.handleTouchEnd,
      false
    );
  },
  beforeUnmount() {
    this.$refs.singleJobOffer.removeEventListener("touchstart", null);
    this.$refs.singleJobOffer.removeEventListener("touchmove", null);
    this.$refs.singleJobOffer.removeEventListener("touchend", null);
  },
  methods: {
    loadNextJob() {
      this.showSpinner = true;
      this.showSingleJobOffer = false;

      // Get next job from the very beginning
      getNextJob(this.userId)
        .then((res) => {
          console.log(res);
          if (res.status === "Success") {
            this.$store.dispatch("SET_JOB_TO_SHOW", res.payload.job);
            return res.payload.job.employer;
          }
        })
        .then((employer) => getDomains(employer))
        .then((json) => {
          this.logoToShow = json[0]?.logo;
        })
        .finally(() => {
          this.showSpinner = false;
          this.showSingleJobOffer = true;
        });
    },
    async handleSwipeLeft() {
      this.showGreenAlert = false;
      this.showRedAlert = false;
      this.handleSkip();
      this.loadNextJob();
      this.showRedAlert = true;
    },
    async handleSwipeRight() {
      this.showGreenAlert = false;
      this.showRedAlert = false;
      this.handleApprove();
      this.loadNextJob();
      this.showGreenAlert = true;
    },
    handleTouchStart(evt) {
      this.startPosition = evt.changedTouches[0].clientX;
    },
    handleTouchMove(evt) {
      const xDiff = evt.changedTouches[0].clientX - this.startPosition;

      if (xDiff > 0) {
        /* left swipe */
        this.shift = `${xDiff}px`;
      } else {
        /* right swipe */
        this.shift = `${xDiff}px`;
      }
    },
    handleTouchEnd() {
      this.startPosition = 0;
      this.shift = 0;
    },
    handleApprove() {
      const docID = this.jobToShow.docID;

      approveJob(this.userId, docID).then((res) => {
        if (res.status === "Success") {
          console.log(res.payload);
        }
      });
    },
    handleSkip() {
      const docID = this.jobToShow.docID;

      rejectJob(this.userId, docID).then((res) => {
        if (res.status === "Success") {
          console.log(res.payload);
        }
      });
    },
    onApprove() {
      this.showGreenAlert = false;
      this.showRedAlert = false;
      this.handleApprove();
      this.loadNextJob();
      this.showGreenAlert = true;
    },
    onSkip() {
      this.showGreenAlert = false;
      this.showRedAlert = false;
      this.handleSkip();
      this.loadNextJob();
      this.showRedAlert = true;
    },
  },
  computed: {
    userInformation() {
      return this.$store.getters.getUserInformation;
    },
    fName() {
      return this.$store?.getters?.getUserInformation?.profile?.Personal
        ?.FirstName;
    },
    lName() {
      return this.$store?.getters?.getUserInformation?.profile?.Personal
        ?.LastName;
    },
    email() {
      return this.$store?.getters?.getUserInformation?.profile?.Personal?.Emails
        .Email;
    },
    jobToShow() {
      return this.$store?.getters.getJobToShow;
    },
    userId() {
      return this.$store.getters.getUserId;
    },
  },
  components: {
    PrimaryLayout,
    CircleLoader,
    SingleJobOffer,
    Alert,
  },
};
</script>

<style></style>
