<template>
  <PrimaryLayout v-if="$store">
    <div class="flex flex-col w-full max-w-screen-sm m-auto">
      <div class="w-full px-4">
        <div class="text py-4 text-gray-700">
          <div class="flex justify-between">
            <p class="text-3xl font-medium">My Job List</p>
          </div>
        </div>
      </div>
      <CirleLoader
        text="Your job list is being loaded..."
        v-if="!areMyApprovedJobsLoaded"
      />
      <div
        class="w-full p-4 pt-0"
        v-else-if="areMyApprovedJobsLoaded && myApprovedJobs.length !== 0"
      >
        <!-- <p class="uppercase text-lg font-medium mb-2">Favorite Jobs:</p> -->
        <div
          class="p-4 shadow mb-4 bg-white justify-between"
          v-for="jobOffer in myApprovedJobs"
          :key="jobOffer"
        >
          <div class="primary-text">
            <p>
              <span class="text-2xl text-gray-800 mr-1">{{
                jobOffer.title
              }}</span>
              <snan class="text-gray-700"> at {{ jobOffer.employer }} </snan>
            </p>
          </div>
          <div class="other-info pt-2 text-gray-700 mb-4">
            <p class="text-xs">Location:</p>
            <p class="mb-2">{{ jobOffer.city }}</p>
            <div
              class="mb-2"
              v-if="parseEducationLevel(jobOffer.education_level) !== null"
            >
              <p class="text-xs">Education Level:</p>
              <p>{{ parseEducationLevel(jobOffer.education_level) }}</p>
            </div>
            <div class="mb-2" v-if="jobOffer.salary !== 'unknown'">
              <p class="text-xs">Salary range:</p>
              <p>{{ jobOffer.salary }}</p>
            </div>
            <div class="mb-2" v-if="jobOffer.years_of_experience !== 'unknown'">
              <p class="text-xs">Experience:</p>
              <p>{{ jobOffer.years_of_experience }}+ years</p>
            </div>
            <p class="text-xs opacity-40">
              <a href="#" class="underline">Show original vacancy</a>
            </p>
          </div>
          <div class="buttons flex">
            <div class="skip-w w-40 mr-4">
              <Button
                bgColor="bg-red-400"
                bgColorHover="hover:bg-red-500"
                @click="handleRejectClick(jobOffer.docID, jobOffer.title)"
              >
                <SkipIcon class="mr-1" />
                <ButtonText>Reject</ButtonText>
              </Button>
            </div>
            <Button
              bgColor="bg-green-600"
              bgColorHover="hover:bg-green-700"
              @click="handleApplyClick(jobOffer.docID, jobOffer.title)"
            >
              <ApproveIcon class="mr-1" />
              <ButtonText>Apply</ButtonText>
            </Button>
          </div>
        </div>
      </div>
      <p v-else class="p-4 pt-0 text-gray-700">No jobs found in the job list</p>
      <div class="flex fixed p-4 pb-2 w-full bottom-0 justify-center">
        <Alert
          :primaryHeadline="greenBannerText"
          type="Success"
          v-if="showGreenAlert"
          @selfDestruct="showGreenAlert = false"
        />
        <Alert
          :primaryHeadline="redBannerText"
          type="Error"
          v-if="showRedBanner"
          @selfDestruct="showRedBanner = false"
        />
      </div>
    </div>
  </PrimaryLayout>
</template>

<script>
import { getMyApprovedJobs } from "../api/jobs";
import PrimaryLayout from "../layouts/PrimaryLayout.vue";
import CirleLoader from "../components/loaders/CircleLoader.vue";
import Button from "../components/buttons/Button.vue";
import ButtonText from "../components/buttons/ButtonText.vue";
import Alert from "../components/Alert.vue";

import SkipIcon from "../components/icons/SkipIcon.vue";
import ApproveIcon from "../components/icons/ApproveIcon.vue";

import { applyOnJobFromList, rejectJobFromList } from "../api/jobs";

import { useMeta } from "vue-meta";

export default {
  setup() {
    useMeta({
      title: "My Jobs",
    });
  },
  name: "MyJobs",
  data() {
    return {
      areMyApprovedJobsLoaded: false,
      showGreenAlert: false,
      greenBannerText: "",
      showRedBanner: false,
      redBannerText: "",
    };
  },
  mounted() {
    this.getMyJobs();
    console.log("mounted");
  },
  computed: {
    myApprovedJobs: function () {
      return this.$store.getters.getMyApprovedJobs;
    },
    userId: function () {
      return this.$store.getters.getUserId;
    },
  },
  methods: {
    getMyJobs() {
      getMyApprovedJobs(this.userId).then((res) => {
        this.$store.dispatch("SET_MY_APPROVED_JOBS", res.payload.approved_jobs);
        this.areMyApprovedJobsLoaded = true;
      });
    },
    handleApplyClick(docId, title) {
      this.greenBannerText = "";
      applyOnJobFromList(this.userId, docId)
        .then((res) => {
          if (res.status === "Success") {
            this.greenBannerText = `You've applied for "${title}"`;
            this.showGreenAlert = true;
          }
        })
        .then(() => this.getMyJobs());
    },
    handleRejectClick(docId, title) {
      this.redBannerText = "";
      rejectJobFromList(this.userId, docId)
        .then((res) => {
          if (res.status === "Success") {
            this.redBannerText = `You've rejected "${title}"`;
            this.showRedBanner = true;
          }
        })
        .then(() => this.getMyJobs());
    },
    parseEducationLevel(value) {
      const levels = {
        0: "Unknown",
        1: "Post-Graduate qualification",
        2: "Master's degree",
        3: "Bachelor's degree",
        4: "Professional qualification",
        5: "HND\/HNC or equivalent",
        6: "Vocational qualification (NVQ\/VRQ\/QCF)",
        7: "'A' Level or equivalent",
        8: "GCSE or equivalent",
        9: "Other",
      };

      return value !== "unknown" ? levels?.[value] : null;
    },
  },
  components: {
    PrimaryLayout,
    CirleLoader,
    Button,
    ButtonText,
    SkipIcon,
    ApproveIcon,
    Alert,
  },
};
</script>

<style></style>
