<template>
  <PrimaryLayout v-if="$store">
    <div class="w-full px-4">
      <div class="text py-4 text-gray-700">
        <div class="flex justify-between">
          <p class="text-3xl font-medium mb-4">My Profile</p>
          <div class="max-w-lg">
            <Button tag="button" disabled class="max-w-lg">
              <ButtonText>Edit profile</ButtonText>
            </Button>
          </div>
        </div>

        <div class="p-4 shadow mb-4 bg-white">
          <p class="text-lg font-medium text-gray-600 mb-2">
            Basic Information
          </p>

          <p class="text-xs text-gray-600">Name:</p>
          <p class="text-gray-700 text-sm mb-4">
            {{ profile?.Personal?.FirstName }} {{ profile?.Personal?.LastName }}
          </p>

          <p class="text-xs text-gray-600">Email:</p>
          <p class="text-gray-700 text-sm mb-4">
            {{ profile?.Personal?.Emails?.Email || "unknown" }}
          </p>

          <p class="text-xs text-gray-600">Education:</p>
          <p class="text-gray-700 text-sm mb-4">
            {{
              profile?.Summary?.HighestEducationLevelCodeDescription ||
              "unknown"
            }}
          </p>

          <p class="text-xs text-gray-600">Current Position:</p>
          <p class="text-gray-700 text-sm mb-4">
            {{ profile?.Summary?.CurrentJob || "unknown" }}
          </p>

          <p class="text-xs text-gray-600">Location:</p>
          <p class="text-gray-700 text-sm">
            {{ address || "unknown" }}
          </p>
        </div>

        <div class="p-4 shadow bg-white">
          <p class="text-lg font-medium text-gray-600 mb-2">Skills</p>

          <p class="text-sm text-gray-600 mb-1">Computer Skills</p>
          <ul v-if="computerSkills.length !== 0" class="list-disc pl-4 mb-3">
            <li
              class="text-gray-700 text-xs"
              v-for="item in computerSkills"
              :key="item"
            >
              {{ item.ComputerSkillName }}
            </li>
          </ul>
          <p class="text-gray-700" v-else>unknown</p>

          <p class="text-sm text-gray-600 mb-1">Soft Skills</p>
          <ul v-if="softSkills?.length !== 0" class="list-disc pl-4 mb-3">
            <li
              class="text-gray-700 text-xs"
              v-for="item in softSkills"
              :key="item"
            >
              {{ item?.SoftSkillName }}
            </li>
          </ul>
          <p class="text-gray-700" v-else>unknown</p>

          <p class="text-sm text-gray-600 mb-1">Other Skills</p>
          <ul v-if="otherSkills?.length !== 0" class="list-disc pl-4">
            <li
              class="text-gray-700 text-xs"
              v-for="item in otherSkills"
              :key="item"
            >
              {{ item?.OtherSkillName }}
            </li>
          </ul>
          <p class="text-gray-700" v-else>unknown</p>
        </div>
      </div>
    </div>
  </PrimaryLayout>
</template>

<script>
import PrimaryLayout from "../layouts/PrimaryLayout.vue";
import Button from "../components/buttons/Button.vue";
import ButtonText from "../components/buttons/ButtonText.vue";

import { useMeta } from "vue-meta";

export default {
  setup() {
    useMeta({
      title: "My Profile",
    });
  },
  name: "MyProfile",
  mounted() {
    if (!this.profile) {
      this.$router.push("/sign-in");
    }
  },
  computed: {
    profile: function () {
      return this.$store.getters.getUserInformation?.profile;
    },
    computerSkills: function () {
      if (Array.isArray(this.profile?.Skills?.ComputerSkills?.ComputerSkill)) {
        return this.profile?.Skills?.ComputerSkills?.ComputerSkill;
      } else {
        return [
          {
            ComputerSkillName:
              this.profile?.Skills?.ComputerSkills?.ComputerSkill
                ?.ComputerSkillName,
          },
        ];
      }
    },
    softSkills: function () {
      return this.profile?.Skills?.SoftSkills?.SoftSkill;
    },
    otherSkills: function () {
      return this.profile?.Skills?.OtherSkills?.OtherSkill;
    },
    address: function () {
      const address = `${this.profile?.Personal?.Address?.StreetName} ${this.profile?.Personal?.Address?.StreetNumberBase}, ${this.profile?.Personal?.Address?.PostalCode}, ${this.profile?.Personal?.Address?.City}, ${this.profile?.Personal?.Address?.RegionCodeDescription} ${this.profile?.Personal?.Address?.CountryCodeDescription}`;
      return address.trim();
    },
  },
  components: {
    PrimaryLayout,
    Button,
    ButtonText,
  },
};
</script>

<style></style>
