<template>
  <PrimaryLayout>
    <div
      class="
        w-full
        relative
        min-h-screen
        flex flex-col
        items-center
        justify-center
      "
    >
      <div class="absolute top-0 left-0 w-full">
        <p
          class="
            text-3xl
            font-bold font-montserrat
            text-center
            uppercase
            pt-8
            text-gray-700
          "
        >
          Tindernel!
        </p>
        <p class="text-center font-montserrat text-gray-600 font-semibold">
          Textkernel, IW 2021
        </p>
      </div>

      <h1
        class="
          text-3xl text-center
          font-montserrat font-semibold
          text-gray-600
          uppercase
          mb-4
        "
      >
        Sign In
      </h1>
      <div class="p-8 bg-white shadow-lg rounded-lg m-x-auto w-full max-w-md">
        <input
          class="outline-none text-sm border-2 rounded px-4 py-3 w-full mb-3"
          type="text"
          placeholder="Enter your email..."
          v-model="email"
        />
        <Button tag="button" @click="handleSubmitEmailClick">
          <ButtonText>Sign in with email</ButtonText>
        </Button>

        <Divider />

        <Button
          tag="a"
          href="#"
          bgColor="bg-blue-500"
          bgColorHover="hover:bg-blue-600"
          disabled
          class="mb-2"
        >
          <LinkedInIcon class="mr-1" />
          <ButtonText>Login with LinkedIn</ButtonText>
        </Button>

        <Button
          tag="a"
          href="#"
          bgColor="bg-green-600"
          bgColorHover="hover:bg-green-700"
          disabled
          class="mb-2"
        >
          <XINGIcon class="mr-1" />
          <ButtonText>Login with XING</ButtonText>
        </Button>

        <Divider />

        <FileDialogButton
          text="Upload CV"
          upload
          bgColor="bg-white"
          bgColorHover="hover:bg-gray-100"
          disabled
        />
      </div>
    </div>
  </PrimaryLayout>
</template>

<script>
// Components
import PrimaryLayout from "../layouts/PrimaryLayout.vue";
import Button from "../components/buttons/Button.vue";
import ButtonText from "../components/buttons/ButtonText.vue";
import Divider from "../components/Divider.vue";
import FileDialogButton from "../components/buttons/FileDialogButton.vue";

// Icons
import LinkedInIcon from "../components/icons/LinkedInIcon.vue";
import XINGIcon from "../components/icons/XINGIcon.vue";

// API
import { hashUserEmail, getUserInformation } from "../api/auth";

import { useMeta } from "vue-meta";

export default {
  setup() {
    useMeta({
      title: "Sign In",
    });
  },
  name: "SignIn",
  data() {
    return {
      email: "maaike.groce@randommail.com",
    };
  },
  methods: {
    async handleSubmitEmailClick() {
      const hashedEmailResponse = await hashUserEmail(this.email);
      const hashedEmail = hashedEmailResponse.payload["hashed_email"];

      const getUserInformationResponse = await getUserInformation(hashedEmail);
      const userInformation = JSON.parse(
        getUserInformationResponse.payload["user"]
      );

      if (Object.keys(userInformation).length !== 0) {
        this.$store.dispatch("SET_USER_ID", userInformation?.["_id"]?.["$oid"]);
        delete userInformation["_id"];
        this.$store.dispatch("SET_USER_INFORMATION", userInformation);
        this.$router.push("/job-offer");
      }
    },
  },
  watch: {
    email: function () {
      this.$store.dispatch("SET_USER_EMAIL", this.email);
    },
  },
  components: {
    PrimaryLayout,
    Button,
    ButtonText,
    Divider,
    LinkedInIcon,
    XINGIcon,
    FileDialogButton,
  },
};
</script>

<style></style>
