<template>
  <CircleLoader text="Some things are being loaded. Please, wait!" />
</template>

<script>
import CircleLoader from "../components/loaders/CircleLoader.vue";

export default {
  name: "Test",
  components: {
    CircleLoader,
  },
};
</script>

<style></style>
