<template>
  <div
    class="alert shadow-xl mb-2 bg-white w-full max-w-sm"
    role="alert"
    @mouseover="isIntervalPaused = true"
    @mouseleave="isIntervalPaused = false"
  >
    <div class="alert_loader border-b border-gray-50 w-full">
      <div
        class="alert_loader_content h-1"
        :class="customLoaderClassList"
        :style="{ width: loaderWidth + '%' }"
      ></div>
    </div>
    <div class="alert_content flex flex-row items-center px-4 py-3">
      <div class="w-full">
        <div class="font-montserrat w-full text-center">
          <p class="font-semibold text-gray-700">
            {{ primaryHeadline }}
          </p>
          <p class="text-sm font-medium text-gray-600" v-if="secondaryHeadline">
            {{ secondaryHeadline }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Alert",
  props: {
    primaryHeadline: {
      type: String,
      default: "Default primary headline",
    },
    secondaryHeadline: String,
    id: String,
    type: String,
  },
  emits: ["selfDestruct"],
  data() {
    return {
      timerValue: 0,
      intervalId: null,
      isIntervalPaused: false,
      defaultTimerValue: 4000, // Equals to 3 seconds
      timerTickDuration: 250, // Equals to 0.25 seconds
    };
  },
  methods: {
    selfDestruct() {
      this.intervalId = setInterval(() => {
        if (!this.isIntervalPaused) {
          if (this.timerValue !== this.defaultTimerValue) {
            this.timerValue += this.timerTickDuration;
          } else {
            this.$emit("selfDestruct");
          }
        }
      }, this.timerTickDuration);
    },
  },
  computed: {
    loaderColorClass: function () {
      switch (this.type) {
        case "Success":
          return "bg-green-500";

        case "Warning":
          return "bg-yellow-500";

        case "Error":
          return "bg-red-500";

        default:
          return "";
      }
    },
    customLoaderClassList: function () {
      const classString = `${this.loaderColorClass}`.trim();
      return classString;
    },
    loaderWidth: function () {
      const loaderWidth = (this.timerValue / this.defaultTimerValue) * 100;
      return loaderWidth;
    },
  },
  created() {
    this.selfDestruct();
  },
  unmounted() {
    clearInterval(this.intervalId);
  },
};
</script>

<style lang="scss">
.alert_loader {
  &_content {
    transition: width 0.3s linear;
  }
}
</style>
