<template>
  <div class="my-2 flex flex-row justify-center mb-6">
    <span class="absolute bg-white px-4">or</span>
    <div class="w-full bg-gray-200 mt-3" style="height: 1px"></div>
  </div>
</template>

<script>
export default {
  name: "Divider",
};
</script>

<style></style>
