<template>
  <div class="w-full max-w-sm p-4 m-auto">
    <div class="p-4 pt-24 shadow relative bg-white text-center">
      <div class="logo absolute w-full -top-14 left-0 flex justify-center">
        <img
          :src="logo || 'https://via.placeholder.com/150x120'"
          :alt="`${jobOffer.employer} logo`"
          class="border h-30 w-30"
        />
      </div>
      <div class="primary-text pb-4 border-b">
        <p class="text-2xl text-gray-800">{{ jobOffer.title }}</p>
        <p class="text-gray-700">at {{ jobOffer.employer }}</p>
      </div>
      <div class="other-info pt-4 text-gray-700 border-b mb-4">
        <p class="text-xs">Location:</p>
        <p class="mb-2">{{ jobOffer.city }}</p>
        <div class="mb-2" v-if="parsedEducationLevel !== null">
          <p class="text-xs">Education Level:</p>
          <p>{{ parsedEducationLevel }}</p>
        </div>
        <div class="mb-2" v-if="jobOffer.salary !== 'unknown'">
          <p class="text-xs">Salary range:</p>
          <p>{{ jobOffer.salary }}</p>
        </div>
        <div class="mb-4" v-if="jobOffer.years_of_experience !== 'unknown'">
          <p class="text-xs">Experience:</p>
          <p>{{ jobOffer.years_of_experience }}+ years</p>
        </div>
      </div>
      <div class="buttons flex">
        <div class="skip-w w-28 mr-4">
          <Button
            bgColor="bg-red-400"
            bgColorHover="hover:bg-red-500"
            @click="skip"
          >
            <SkipIcon class="mr-1" />
            <ButtonText>Skip</ButtonText>
          </Button>
        </div>
        <Button
          bgColor="bg-green-600"
          bgColorHover="hover:bg-green-700"
          @click="approve"
        >
          <ApproveIcon class="mr-1" />
          <ButtonText>Add to job list</ButtonText>
        </Button>
      </div>
    </div>
  </div>
</template>

<script>
import Button from "../components/buttons/Button.vue";
import ButtonText from "../components/buttons/ButtonText.vue";

import SkipIcon from "../components/icons/SkipIcon.vue";
import ApproveIcon from "../components/icons/ApproveIcon.vue";

export default {
  name: "SingleJobOffer",
  props: {
    jobOffer: {
      type: Object,
    },
    logo: {
      type: String,
    },
    approve: Function,
    skip: Function,
  },
  computed: {
    parsedEducationLevel: function () {
      const levels = {
        0: "Unknown",
        1: "Post-Graduate qualification",
        2: "Master's degree",
        3: "Bachelor's degree",
        4: "Professional qualification",
        5: "HND\/HNC or equivalent",
        6: "Vocational qualification (NVQ\/VRQ\/QCF)",
        7: "'A' Level or equivalent",
        8: "GCSE or equivalent",
        9: "Other",
      };

      return this.jobOffer?.education_level !== "unknown"
        ? levels?.[this.jobOffer?.education_level]
        : null;
    },
  },
  components: {
    Button,
    ButtonText,
    SkipIcon,
    ApproveIcon,
  },
};
</script>

<style></style>
