<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    :class="classList"
    viewBox="0 0 512 512"
  >
    <title>Checkmark Done</title>
    <path
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="32"
      d="M464 128L240 384l-96-96M144 384l-96-96M368 128L232 284"
    />
  </svg>
</template>

<script>
import iconMixin from "./iconMixin";

export default {
  name: "ApproveIcon",
  mixins: [iconMixin],
};
</script>

<style></style>
