<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    :class="classList"
    viewBox="0 0 512 512"
  >
    <title>Arrow Undo</title>
    <path
      d="M240 424v-96c116.4 0 159.39 33.76 208 96 0-119.23-39.57-240-208-240V88L64 256z"
      fill="none"
      stroke="currentColor"
      stroke-linejoin="round"
      stroke-width="32"
    />
  </svg>
</template>

<script>
import iconMixin from "./iconMixin";

export default {
  name: "SkipIcon",
  mixins: [iconMixin],
};
</script>

<style></style>
