<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    :class="classList"
    viewBox="0 0 512 512"
  >
    <title>UploadIcon</title>
    <path
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="32"
      d="M176 249.38L256 170l80 79.38M256 181.03V342"
    />
    <path
      d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z"
      fill="none"
      stroke="currentColor"
      stroke-miterlimit="10"
      stroke-width="32"
    />
  </svg>
</template>

<script>
import iconMixin from "./iconMixin";

export default {
  name: "UploadIcon",
  mixins: [iconMixin],
};
</script>

<style></style>
