<template>
  <metainfo>
    <template v-slot:title="{ content }"
      >{{ content }} - Instant Proposal by Textkernel</template
    >
  </metainfo>
  <div class="instant-proposal-content" id="instant-proposal-content">
    <router-view />
  </div>
</template>

<script>
export default {};
</script>

<style></style>
