<template>
  <div class="bg-gray-50 mx-auto min-h-screen relative">
    <div
      class="
        router-content
        w-full
        flex
        justify-center
        h-full
        max-w-screen-sm
        m-auto
      "
    >
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "PrimaryLayout",
};
</script>

<style></style>
